<%= render 'layouts/header' %>

<div id="texte_presentation">
		<h4 class="ui horizontal divider header">
  			<i class="users icon"></i>
  			L'histoire/Pourquoi ?
		</h4>
    </div>
		
		<div class="ui raised segment">
		  <p>Nous avons déjà perdu beaucoup de temps avec des hommes malhonnêtes qui mentent, ont une double vie, se foutent de nous! <br>
      Ce site référence les malotrus en qui on ne peut pas avoir confiance. Notez vos exs qui se sont foutu de votre gueule, afin que la prochaine ne perde pas de temps avec lui ! </p>
		</div>
		
