<%= render 'layouts/header' %>

<div id="image_fond"></div>
<div>
	<p id="brutal">Fini les malotrus avec<br> KeumAdvisor</p>
</div>

<!-- Login with Facebook -->

<% if current_user.present? %>
<div class="Welcome_home">
  Welcome <%= current_user.name %>!
</div>

<% else %>
<button id="login_facebook">
  <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path, class: "text_facebook" %>
<% end %>
</button>
