<%= render 'layouts/header' %>

<div class="left">
<div class="ui column grid">
<div class="ui people shape">

<div class="active side">
    <div class="ui card">
        <div class="image">
          	<img src="../images/elise.jpg">
        </div>
    <div class="extra content">
    	<span class="right floated">
    	<span>
    	Joined  2017
    	</span>
    	<span>
    	<i class="user icon"></i>
    	3 note
    	</span>
    </div>
   	</div>
</div>